<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" author="GregorHirsh">
    <title>Ищи ищи</title>
    <style>
        /* Стили для страницы catch_all.html */
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: #333;
        }
    </style>
</head>
<body>
    <h1>Ищи ищи</h1>

</body>
</html>

